
body{
	margin: 0;
	padding: 0;
	background: #ffffff;
	font-family: segoe UI, Sans-serif, Arial, verdana;
	display: block;
	overflow-x: hidden;
	background: url(../_assets/banner.jpg);
}

h1 {
    margin: 1em 0 0.5em 0;
	font-weight: 600;
	font-family: 'Titillium Web', sans-serif;
	position: relative;  
	font-size: 36px;
	line-height: 40px;
	padding: 15px 15px 15px 15%;
	color: #6Cf;
}

h2 {
    font-size: 30px;
    line-height: 40px;
}

h3 {
    color: #F90B6D; font-family: 'Open Sans', sans-serif; font-size: 34px; font-weight: 300; line-height: 40px; margin: 0 0 16px;
}

h4 {
    font-size: 18px;
    line-height: 20px;
}
    
p {
  	margin: 1em 0 0.5em 0;
	color: #00caa6;
	font-size: 26px;
	line-height: 40px;
	font-weight: bold;
	font-family: 'Josefin Sans', sans-serif;  
    
}    
    
nav { color: #F90B6D; font-family: 'Open Sans', sans-serif; font-size: 24px; font-weight: 300; line-height: 32px; margin: 0 0 14px; }    
    
    
    
    
    
    
