.page-content{
	padding: 10px 0;
}

.page-content nav{
	border-bottom: 3px solid teal;
	overflow: hidden;
}

.page-content nav ul li{
	float: left;
}

.page-content nav ul li:not(:first-child){
	margin-left: -5px;
}

.page-content nav ul li a{
	position: relative;
	display: block;
	line-height: 1.5em;
	text-decoration: none;
	color: #777777;
	font-size: 14px;
	text-align: center;
	background: #ffffff;
	padding: 5px 14px;
	border: 1px solid #e3e3e3;
	border-bottom: none;
}


.page-content nav ul li.active a{
	position: relative;
	background: teal;
	padding: 5px 20px;
	border-color: transparent;
	font-weight: 100;
	color: #ffffff;
}

.nav-references{
	overflow: hidden;
	height: 100%;
	border: 1px solid #e3e3e3;
	border-top: none;
}

.nav-references .encap{
	clear: both;
	width: 3840px;
}

.nav-references div{
	width: 960px;
	float: left;
}

.nav-references div article{
	display: block;
	padding: 20px 10px;
}

.nav-references div article h1{
	color: teal;
	font-weight: 100;
	line-height: 1.5em;
}

.nav-references div article p{
	margin: 10px 0;
	padding: 0;
	color: #777777;
	font-size: 14px;
}

.nav-references div article button{
	border: 1px solid #e3e3e3;
	background: #f5f5f5;
	padding: 5px 12px;
	display: block;
	font-size: 14px;
}

.nav-references:after,
.page-content nav:after{
	content: "";
	height: 0;
	display: block;
	visibility: hidden;
	clear: both;
}